@page
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h5>When open n tabs of /index page and receive message, n google tabs will be opened. N connections to hub exist.</h5>

    <a target="_blank" href="/">open 1 more tab</a>
    <br />
    <a target="_blank" href="/sharedworker">shared worker example</a>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User..........<input type="text" id="userInput" />
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

@*Используйте эти 2 строчки, чтобы использовать просто обычный js. Откройте n вкладок
    , отправьте сообщение с любой из страниц, откроется n окон*@
<script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
