@page
@{
    ViewData["Title"] = "Shared worker";
}
<div class="container">
    <h5>Shared workers, можно открыть много вкладок, при вводе сообщения откроется только одна вкладка гугла. При этом существует только одно соединение с хабом</h5>
    <h6>для корректной работы необходимо закрыть все вкладки index, отставить только /sharedworker</h6>
    <h6>дебаггинг воркера осуществляется отдельно chrome://inspect/#workers  или https://developer.mozilla.org/ru/docs/Tools/about:debugging#Workers</h6>
    <a target="_blank" href="/sharedworker">открыть еще вкладку</a>

    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User..........<input type="text" id="userInput" />
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

@*пример работы shared worker*@

<script src="~/lib/@@aspnet/signalr/dist/webworker/signalr.js"></script>
<script>
    if (window.SharedWorker) {
        var worker = new SharedWorker('/js/sharedworker.js');
        worker.port.postMessage({
            type: 'init',
            location: window.location.origin
        });

        let messageText = document.getElementById('messageInput');
        let broadcastButton = document.getElementById('sendButton');
        let userText = document.getElementById('userInput');

        broadcastButton.addEventListener('click', function (event) {
            worker.port.postMessage({
                type: 'message',
                user: userText.value,
                message: messageText.value
            });
            event.preventDefault();
        });

        worker.port.onmessage = function (e) {
            console.log(e);
            if (e.data.type == 'openUrl') {
                window.open(e.data.url, '_blank');
            }

        };

        addEventListener('beforeunload', function () {
            worker.port.postMessage({
                type: 'close'
            });
        });
    } else {
        console.log('Web workers are not supported by this browser!')
    }
</script>